 <% if flash[:notice] %>
    <p id="notice">
      <%= flash[:notice] %>
     </p>
 <% end %>
<br><br>
<h2>Title:</h2>
<p><%= @book.title %></p>
<br>
<h2>Body:</h2>
<p><%= @book.body %></p>
<br><br>

<%= link_to "Edit", edit_book_path(@book.id) %>
| 
<%= link_to "back", '/books' %>
